{% extends "layout.twig" %}

{% block content %}
    <h1>Connexion </h1>

    {# 🔴 erreurs #}
        {% if errors is not empty %}
            <div class="error-box">
                {% for fieldErrors in errors %}
                    {% for error in fieldErrors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <label for="email">Email</label>
        <input type="email" name="email" value="{{ result.email }}" required>
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Connexion</button>

    </form>
{% endblock %}
