/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* MOBILE FIRST */

.carousel-card-content {
    white-space: pre-line;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2c3e50;
    color: white;
    padding: 10px;
    position: relative;
}

.logo {
    font-weight: bold;
}

.title {
    font-size: 18px;
}

.burger {
    font-size: 24px;
    cursor: pointer;
}

.nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #34495e;
}

.nav ul {
    list-style: none;
}

.nav li {
    padding: 10px;
    border-bottom: 1px solid #2c3e50;
}

.nav li ul {
    padding-left: 15px;
    background: #3b5998;
}

.nav a {
    color: white;
    text-decoration: none;
}

/* MAIN */
.container {
    padding: 15px;
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 10px;
    color: gray;
}

.search-box {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.search-advanced {
    margin-bottom: 20px;
}

.search-advanced button {
    width: 100%;
}

.search-box input {
    flex: 1;
    padding: 8px;
}


.home-intro, .home-description, .home-action {
    margin-bottom: 2rem;
}

.home-description ul {
    padding-left: 20px;
}


.competences-container {
    border: 2px dashed #ccc;
    padding: 10px;
    min-height: 50px;
    margin-top: 10px;
    border-radius: 8px;
}

.etudiants-container {
    border: 2px dashed #ccc;
    padding: 10px;
    min-height: 50px;
    margin-top: 10px;
    border-radius: 8px;
}

.placeholder {
    color: #999;
    font-style: italic;
}

.competence-item {
    display: inline-block;
    background: #2c3e50;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 5px;
}

.etudiant-item {
    display: inline-block;
    background: #2c3e50;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 5px;
}

.competence-item button {
    margin-left: 8px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.etudiant-item button {
    margin-left: 8px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-primary {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2c3e50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #34495e;
}


button {
    padding: 8px 12px;
    background: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}

.results {
    margin-top: 15px;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    margin-bottom: 15px;

    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
}

.thincard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 1px;
    margin-bottom: 15px;

    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
}


/* Partie gauche */
.card-left {
    flex: 1;            /* prend toute la place restante */
    min-width: 0;       /* évite débordement */
}

/* Partie droite */
.card-right {
    display: flex;
    gap: 10px;
    flex-shrink: 0;     /* empêche réduction */
    margin-top: 10px;
}

.btn-icon {
    text-decoration: none;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 4px;
    transition: 0.2s ease;
}

/* Actions */
.btn-icon.edit { background-color: #f1f1f1; }
.btn-icon.edit:hover {
    background-color: #3498db;
    color: white;
}

.btn-icon.delete { background-color: #f1f1f1; }
.btn-icon.delete:hover {
    background-color: #e74c3c;
    color: white;
}

.btn-icon.apply { color: #3498db; background-color: #f1f1f1;}      /* bleu */
.btn-icon.apply:hover {
    background-color: #2ecc71;
    color: white;
}

.btn-icon.wishlist.pulse {
    transform: scale(1.3);
    transition: transform 0.2s ease;
}
.btn-icon.wishlist { color: #f1c40f; background-color: #f1f1f1;}   /* jaune */
.btn-icon.wishlist:hover {
    background-color: #b4cc2e;
    color: white;
}


.btn-icon:hover {
    opacity: 0.7;
}



.stars {
    color: gold;
}

.btn-add {
    width: 100%;
    margin-top: 15px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group label {
    display: block;
}

.form-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}


/* Pagination */
.pagination{
    margin-top:20px;
    text-align:center;
}

.page-btn{
    padding:8px 12px;
    margin:2px;
    border:1px solid #ccc;
    text-decoration:none;
}

.page-btn.active{
    background:#333;
    color:white;
}

/* ERROR BOX */

.error-box {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;

    background-color: #fdecea;   /* rouge très clair */
    border: 1px solid #e74c3c;   /* rouge */
    border-left: 5px solid #c0392b;

    color: #c0392b;              /* texte rouge foncé */
    font-weight: 500;

    border-radius: 4px;
}

.error-box p {
    margin: 5px 0;
}


/* STARS */
.stars-rating {
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
}

.stars-rating span {
    margin-right: 5px;
}

.stars-rating span.active {
    color: gold;
}

.stars-rating[data-readonly] span {
    cursor: default;
}


/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    background: white;
    margin: 50% auto;
    padding: 20px;
    width: 90%;
    border-radius: 5px;
}

.modal-content input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.close {
    float: right;
    cursor: pointer;
}

/* TABLET */
@media (min-width: 768px) {

    .modal-content {
        margin: 15% auto;
        width: 50%;
    }

    .card {
        flex-direction: row;              /* 👈 on passe en ligne */
        justify-content: space-between;
        align-items: flex-start;
    }

    .card-right {
        margin-top: 0;                    /* on enlève l'espace */
    }

    .btn-add {
        width: auto;
    }

    form {
        max-width: 600px;
    }

    .search-advanced button {
        width: auto;
    }

}

/* DESKTOP */
@media (min-width: 1024px) {

    .nav {
        display: block !important;
        position: static;
        width: auto;
        background: none;
    }

    .burger {
        display: none;
    }

    .nav ul {
        display: flex;
        gap: 20px;
    }

    .nav li {
        border: none;
        position: relative;
    }

    .nav li ul {
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        background: #34495e;
    }

    .nav li:hover ul {
        display: block;
    }

    .card {
        flex-direction: row;              /* 👈 on passe en ligne */
        justify-content: space-between;
        align-items: flex-start;
    }

    .card-right {
        margin-top: 0;                    /* on enlève l'espace */
    }

}
