{% extends "layout.twig" %}

{% block content %}
    <h1>Accès non autorisé </h1>

    <p>Vous avez été redirigé vers cette page car vous n'avez pas accès à cette fonctionnalité</p>

    <a href="{{ CDN ~ PREFIX }}/home/index">Retour à l'accueil</a>
{% endblock %}